<p-table
  [value]="items"
  [paginator]="true"
  [rows]="10"
  [tableStyle]="{ 'min-width': '60vw', 'max-height': '90vh' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: auto">Destination</th>
      <th style="width: auto">Airline</th>
      <th style="width: auto">Flight #</th>
      <th style="width: auto">Origin IATA</th>
      <th style="width: auto">Origin name</th>
      <th style="width: auto">Origin lat</th>
      <th style="width: auto">Origin lon</th>
      <th style="width: auto">Destination IATA</th>
      <th style="width: auto">Destination name</th>
      <th style="width: auto">Destination lat</th>
      <th style="width: auto">Destination lon</th>
      <th style="width: auto">Weather</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.destination }}</td>
      <td>{{ item.airline }}</td>
      <td>{{ item.flight_num }}</td>
      <td>{{ item.origin_iata_code }}</td>
      <td>{{ item.origin_name }}</td>
      <td>{{ item.origin_latitude }}</td>
      <td>{{ item.origin_longitude }}</td>
      <td>{{ item.destination_iata_code }}</td>
      <td>{{ item.destination_name }}</td>
      <td>{{ item.destination_latitude }}</td>
      <td>{{ item.destination_longitude }}</td>
      <td><p-button (onClick)="showDialog()" label="Weather" /></td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Weather for locations"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50rem' }"
  [draggable]="false"
  [resizable]="false"
>
  <!-- TODO: add weather data -->
  <p>Lorem ipsum dolor sit amet...</p>
</p-dialog>

<router-outlet />
